* {
    /* outline: 2px solid red; */
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

h1 {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 0;
}

h2 {
    text-align: center;
    font-size: 2rem;
    margin-top: .5rem;
}

.container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.board {
    display: grid;
    width: 32vw;
    height: 60vh;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1px;
}

.square {
    outline: 2px solid black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 5vw;
}

.reset-button {
    margin-top: 2rem;
    border: 2px solid black;
    padding: .5rem 1.5rem;
    border-radius: 5px;
}