* {
    /* outline: 2px solid red; */
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 0;
}

h2 {
    text-align: center;
    font-size: 2rem;
    margin-top: .5rem;
}

.container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.board {
    display: grid;
    width: 35vw;
    height: 60vh;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1px;
}

.square {
    outline: 2px solid black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 5vw;
}


